name: Build Wheels

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: >-
            --manifest-path bindings/diffsol-pytorch/Cargo.toml
            --release
            --features python
          target: manylinux
          sdist: true
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-linux
          path: target/wheels/*

  macos:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: >-
            --manifest-path bindings/diffsol-pytorch/Cargo.toml
            --release
            --features python
          target: macos
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-macos
          path: target/wheels/*

  windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: >-
            --manifest-path bindings/diffsol-pytorch/Cargo.toml
            --release
            --features python
          target: windows
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-windows
          path: target/wheels/*

  publish:
    needs: [linux, macos, windows]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
      - name: Collect artifacts
        run: |
          mkdir upload
          find dist -name "*.whl" -exec cp {} upload/ \;
          find dist -name "*.tar.gz" -exec cp {} upload/ \;
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.3
        with:
          packages-dir: upload
          password: ${{ secrets.PYPI_API_TOKEN }}
